.DS_Store
Task-1/.vs
Task-1/1/bin
Task-1/2/bin
Task-1/3/bin
Task-1/4/bin
Task-1/5/bin
Task-1/6/bin
Task-1/7/bin
Task-1/7/bin
Task-2/.vs
Task-2/1/bin
Task-2/2/bin
Task-2/3/bin
Task-2/4/bin
Task-2/5/bin
Task-2/6/bin
Task-2/7/bin
Task-2/8/bin
Task-2/9/bin
Task-2/Utils/bin
Task-3/.vs
Task-3/1/bin
Task-3/2/bin
Task-3/3/bin
Task-3/4/bin
Task-3/5/bin
Task-3/Utils/bin
Task-4/.vs
Task-4/1/bin
Task-4/2/bin
Task-5/.vs
Task-5/1/bin
Task-5/2/bin
Task-5/DynamicArray.Tests/bin
Task-5/User.Tests/bin
Task-5/TestResults
Task-6/.vs
Task-6/1/bin
Task-6/2/bin
Task-6/3/bin
Task-6/4/bin
Task-6/5/bin
Task-6/TestResults
Task-6/ArrayExtension.Tests/bin
Task-6/Circle.Tests/bin
Task-6/Frequency.Tests/bin
Task-6/StringExtension.Tests/bin